<nav class="navbar navbar-expand-sm navbar-light bg-light" id="navbar-personal">
  <img src="/assets/logo-removebg-preview.png" alt="">
  <%= link_to 'Blog linh tinh', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class:'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'About', about_path, class:'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Help', help_path, class:'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Contact', contact_path, class:'nav-link' %>
      </li>
    </ul>
    
  </div>
</nav>